<script src="{{ site.baseURL }}/assets/likely/likely.js"></script>
<link rel="stylesheet" href="{{ site.baseURL }}/assets/likely/likely.css">

<div class="likely-wrap">
  <div class="likely likely-small">
    <div class="twitter">Твитнуть</div>
    <div class="facebook">Поделиться</div>
    <div class="gplus">Плюсануть</div>
    <div class="vkontakte">Поделиться</div>
    <div class="telegram">Отправить</div>
    <div class="odnoklassniki">Класснуть</div>
    <div class="pinterest" data-media="i/pinnable.jpg">Запинить</div>
  </div>
</div>
