/**
* Site header
*/
.site-header {
  border-top: 5px solid $grey-color-dark;
  min-height: 56px;
  margin-bottom: 2em;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 1em;
  font-weight: 700;
  line-height: 3;
  letter-spacing: -0.5px;
  margin-bottom: 0;
  float: left;
}

a.site-title {
  color: $brand-color;

  &:visited {
    color: $brand-color-visited;
  }
}

/**
* Site footer
*/
.site-footer {
  border-top: dotted 1px #eee;
  bottom: 0;
  color: $grey-color;
  padding: $spacing-unit/2 0;
  position: absolute;
  width: 100%;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

@include media-query($on-palm) {
  .site-footer {
    position: static;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

.col-wrapper {
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.col {
  box-sizing: border-box;
  float: left;
  padding-left: $spacing-unit / 2;
}

.col-wrapper .col-1,
.col-wrapper .col-2,
.col-wrapper-2 .col-1,
.col-wrapper-2 .col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.col-wrapper-3 .col {
  width: -webkit-calc(33.33% - (#{$spacing-unit} / 2));
  width:         calc(33.33% - (#{$spacing-unit} / 2));
}


@include media-query($on-palm) {
  .col-wrapper .col {
    float: none;
    margin-bottom: 1em;
    margin-top: 1em;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }

  .col-wrapper-3 .col:last-child {
    text-align: inherit;
  }
}



/**
* Page content
*/
.page-content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 6em;
  position: relative;
}

@include media-query($on-palm) {
  .page-content {
    padding-bottom: 0;
  }
}


.page-heading {
  font-size: 20px;
}


/* Index page incut */
.incut {
  background: rgba(231, 227, 223, 0.5);
  padding: 10px 20px 1px;
}


/* Index page post preview */
.post-preview-link,
.post-preview-link:active,
.post-preview-link:hover,
.post-preview-link:visited {
  color: #000;
}


.post-preview {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  margin-bottom: $spacing-unit;
  padding-right: 50px;
  position: relative;
  vertical-align: middle;
}

.post-preview-pic {
  min-width: 380px;
}

.post-preview-title {
  font-size: 2em;
}

@media (max-width: 750px) {
  .post-preview {
    flex-wrap: wrap;
    font-size: 90%;
  }

  .post-preview-content {
    margin-left: 25px;
  }
}

@include media-query($on-palm) {
  .post-preview-pic {
    display: none;
  }

  .post-preview-title {
    text-decoration: underline;
  }
}


/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.page h1 {
  font-size: 64px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  max-width: 900px;

  @include media-query($on-palm) {
    width: auto;
  }

  @include media-query($on-laptop) {
    width: auto;
  }

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/* Social buttons */
.likely-wrap {
  padding-top: 40px;
  text-align: center;
}
